


.daterangepicker {
    z-index: 1030;
    border-color: rgba(255, 255, 255, 0.15);
    font-family: inherit;
    font-size: inherit;
    background: #1A2332;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.075);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.075);
}
.daterangepicker:after,
.daterangepicker:before {
    display: none;
}
.daterangepicker:after {
    border-width: 0.4375rem;
    top: -0.4375rem;
    left: 0.625rem;
}
.daterangepicker.opensright:after {
    right: 0.625rem;
    left: auto;
}
.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    font-size: 1rem;
}
.daterangepicker .drp-calendar {
    max-width: inherit;
    padding: 0.75rem;
}
.daterangepicker .drp-calendar .calendar-table {
    background: 0 0;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.daterangepicker .drp-calendar .calendar-table table tbody .week,
.daterangepicker .drp-calendar .calendar-table table thead .week {
    font-size: 0.9rem;
    color: #c0cacf;
    font-weight: 600;
}
.daterangepicker .drp-calendar .calendar-table table thead tr th {
    min-width: auto;
    width: auto;
    height: auto;
    line-height: 1;
    padding: 0.375rem 0.75rem;
    color: #fff;
    font-weight: 600;
    font-size: inherit;
    border: none;
}
.daterangepicker .drp-calendar .calendar-table table thead tr th.next span,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.prev
    span {
    border-color: rgba(255, 255, 255, 0.5);
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.next:focus,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.next:hover,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.prev:focus,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.prev:hover {
    background: 0 0;
    color: var(--bs-primary);
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.next:focus
    span,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.next:hover
    span,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.prev:focus
    span,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.prev:hover
    span {
    border-color: var(--bs-primary);
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.month
    .monthselect,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.month
    .yearselect {
    border-color: rgba(255, 255, 255, 0.3);
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.month
    .monthselect:focus,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr
    th.month
    .yearselect:focus {
    outline: 0;
    border-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.3);
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    thead
    tr:last-child
    th {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}
.daterangepicker .drp-calendar .calendar-table table tbody tr td {
    min-width: auto;
    width: auto;
    height: auto;
    line-height: 1.3;
    padding: 0.625rem 0.375rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.15);
    font-size: 0.9rem;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    tbody
    tr
    td.available:focus,
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    tbody
    tr
    td.available:hover {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #000;
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    tbody
    tr
    td.available.in-range {
    background: rgba(var(--bs-primary-rgb), 0.75);
    border-color: rgba(var(--bs-primary-rgb), 0.85);
    color: #000;
    -webkit-border-radius: 0;
    border-radius: 0;
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    tbody
    tr
    td.available.active {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #000;
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    tbody
    tr
    td.available.start-date {
    -webkit-border-radius: 0;
    border-radius: 0;
}
body
    .daterangepicker
    .drp-calendar
    .calendar-table
    table
    tbody
    tr
    td.available.end-date {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.daterangepicker .drp-calendar .calendar-table table tbody tr td.off {
    background: 0 0;
    color: rgba(255, 255, 255, 0.25);
}
.daterangepicker .drp-calendar.left {
    padding: 0.75rem !important;
}
.daterangepicker .drp-calendar.left .calendar-table {
    padding: 0 !important;
}
.daterangepicker .drp-calendar.right {
    padding: 0.75rem !important;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 575.98px) {
    .daterangepicker .drp-calendar.right {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-left: none;
    }
}
.daterangepicker .drp-buttons {
    padding: 0.75rem 0.75rem;
    border-color: rgba(255, 255, 255, 0.15);
    background: rgb(18 25 39);
    border: none;
}
.daterangepicker .drp-buttons .btn.btn-primary {
    background: 0 0;
    color: #3cd2a5;
    border-color: #3cd2a5;
}
.daterangepicker .drp-buttons .btn.btn-primary:hover {
    color: #3cd2a5;
    background-color: #3cd2a5;
    border-color: #3cd2a5;
}
.btn-check:focus + .daterangepicker .drp-buttons .btn.btn-primary,
.daterangepicker .drp-buttons .btn.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(60, 210, 165, 0.5);
}
.btn-check:active + .daterangepicker .drp-buttons .btn.btn-primary,
.btn-check:checked + .daterangepicker .drp-buttons .btn.btn-primary,
.daterangepicker .drp-buttons .btn.btn-primary.active,
.daterangepicker .drp-buttons .btn.btn-primary.dropdown-toggle.show,
.daterangepicker .drp-buttons .btn.btn-primary:active {
    color: #000;
    background-color: #3cd2a5;
    border-color: #3cd2a5;
}
.btn-check:active + .daterangepicker .drp-buttons .btn.btn-primary:focus,
.btn-check:checked + .daterangepicker .drp-buttons .btn.btn-primary:focus,
.daterangepicker .drp-buttons .btn.btn-primary.active:focus,
.daterangepicker .drp-buttons .btn.btn-primary.dropdown-toggle.show:focus,
.daterangepicker .drp-buttons .btn.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(60, 210, 165, 0.5);
}
.daterangepicker .drp-buttons .btn.btn-primary.disabled,
.daterangepicker .drp-buttons .btn.btn-primary:disabled {
    color: #3cd2a5;
    background-color: transparent;
}
.daterangepicker .drp-buttons .btn.btn-primary:active,
.daterangepicker .drp-buttons .btn.btn-primary:hover {
    color: #000;
}
.daterangepicker .drp-buttons .btn.btn-default {
    background: 0 0;
    color: #a8b6bc;
    border-color: #a8b6bc;
}
.daterangepicker .drp-buttons .btn.btn-default:hover {
    color: #a8b6bc;
    background-color: #a8b6bc;
    border-color: #a8b6bc;
}
.btn-check:focus + .daterangepicker .drp-buttons .btn.btn-default,
.daterangepicker .drp-buttons .btn.btn-default:focus {
    box-shadow: 0 0 0 0.25rem rgba(168, 182, 188, 0.5);
}
.btn-check:active + .daterangepicker .drp-buttons .btn.btn-default,
.btn-check:checked + .daterangepicker .drp-buttons .btn.btn-default,
.daterangepicker .drp-buttons .btn.btn-default.active,
.daterangepicker .drp-buttons .btn.btn-default.dropdown-toggle.show,
.daterangepicker .drp-buttons .btn.btn-default:active {
    color: #000;
    background-color: #a8b6bc;
    border-color: #a8b6bc;
}
.btn-check:active + .daterangepicker .drp-buttons .btn.btn-default:focus,
.btn-check:checked + .daterangepicker .drp-buttons .btn.btn-default:focus,
.daterangepicker .drp-buttons .btn.btn-default.active:focus,
.daterangepicker .drp-buttons .btn.btn-default.dropdown-toggle.show:focus,
.daterangepicker .drp-buttons .btn.btn-default:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(168, 182, 188, 0.5);
}
.daterangepicker .drp-buttons .btn.btn-default.disabled,
.daterangepicker .drp-buttons .btn.btn-default:disabled {
    color: #a8b6bc;
    background-color: transparent;
}
.daterangepicker .drp-buttons .btn.btn-default:active,
.daterangepicker .drp-buttons .btn.btn-default:hover {
    color: #000;
}
.daterangepicker .ranges {
    display: none;
}
.daterangepicker.show-ranges .ranges {
    position: relative;
    display: block;
}
@media (max-width: 767.98px) {
    .daterangepicker.show-ranges .ranges {
        float: none;
        margin: 0;
        padding: 0.625rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        overflow: scroll;
        max-width: 35rem;
    }
}
@media (max-width: 767.98px) {
    .daterangepicker.show-ranges .ranges ul {
        width: auto;
        white-space: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-right: 0.625rem;
    }
}
.daterangepicker.show-ranges .ranges ul li {
    color: #90a2aa;
    font-size: 1rem;
    font-weight: 400;
}
@media (max-width: 767.98px) {
    .daterangepicker.show-ranges .ranges ul li {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-right: 0.625rem !important;
    }
}
.daterangepicker.show-ranges .ranges ul li:focus,
.daterangepicker.show-ranges .ranges ul li:hover {
    background: rgba(55,97,255,.12)!important;
    color: var(--bs-primary) !important;
}
.daterangepicker.show-ranges .ranges ul li.active {
    background: var(--bs-primary);
    color: var(--bs-dark);
    margin-right: -0.0625rem;
}
.daterangepicker.show-ranges .drp-calendar.left {
    border-left: 1px solid rgba(255, 255, 255, 0.15) !important;
}
@media (max-width: 767.98px) {
    .daterangepicker.show-ranges .drp-calendar.left {
        border-left: none !important;
    }
}
