@media print {
    .text-primary {
        color: #000 !important;
    }     

    a {
        color: #000 !important;
        text-decoration: none;
    }

    .col-lg {
        flex: 1 0 0 !important;
    }
}