@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.btn-primary,
.btn-gradient-primary,
.btn-relief-primary {
    color: #ffffff !important;
}

.main-menu .main-menu-content .navigation-main .nav-item .menu-content .active .menu-item {
    color: #3761ff !important;
}

.main-menu.menu-dark .navigation > li.active {
    background: transparent !important;
    box-shadow: none !important;
    color: #3761ff !important;
}

.main-menu.menu-dark .navigation > li.active > a {
    background: transparent !important;
    box-shadow: none !important;
    color: #3761ff !important;
}

.main-menu.menu-dark .navigation > li ul .active {
    background: transparent !important;
    box-shadow: none !important;
    color: #3761ff !important;
}

.main-menu.menu-dark .navigation > li ul .active > a {
    background: transparent !important;
    box-shadow: none !important;
    color: #3761ff !important;
}

.main-menu.menu-light .navigation > li.active {
    color: #3761ff !important;
}

.main-menu.menu-light .navigation > li.active > a {
    color: #ffffff !important;
}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation li.active a {
    color: #3761ff !important;
}

.nav-pills .nav-item .nav-link.active {
    color: #ffffff !important;
}

.col-form-label,
.col-form-label-lg,
.col-form-label-sm,
.form-label {
    font-size: 1rem;
}

.dark-layout .table {
    background-color: #1a2332 !important;
}

.dark-layout .table > :not(:first-child) {
    border-top: 1px solid rgba(164, 177, 205, 0.07);
}

.dark-layout .table.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: #141d2b !important;
    --bs-table-accent-bg: $ theme-dark-table-striped-bg2 !important;
}

.dark-layout .table thead th {
    background-color: #232f43 !important;
    color: #d0d2d6 !important;
}

.dark-layout .table thead.table-dark th {
    background-color: #232f43;
    color: #d0d2d6;
}

.dark-layout .table.table-hover tbody tr:hover td {
    background-color: #232f43 !important;
    --bs-table-accent-bg: lighten(
    $
    color: $ theme-dark-table-header-bg,
    $
    amount: 5) !important;
}

.dark-layout .main-menu-content .navigation-main .active .menu-title {
    color: #3761ff;
}

.dark-layout .main-menu-content .navigation-main .active svg {
    color: #3761ff !important;
}

.animated-marker-icon-alert {
    width: 20px;
    height: 20px;
    background-color: rgba(245, 39, 39, 0.75);
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(245, 39, 39, 0.4);
    /* transition: all 1s; */
    text-align: center;

    /* -webkit-animation: beat 1s infinite alternate;
      -moz-animation: beat 1s infinite alternate;
      -ms-animation: beat 1s infinite alternate;
      -o-animation: beat 1s infinite alternate;
      animation: beat 1s infinite alternate; */
}

.animated-marker-icon-success {
    width: 20px;
    height: 20px;
    background-color: rgba(39, 245, 91, 0.75);
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(39, 245, 91, 0.4);
    /* transition: all 1s; */
    text-align: center;
}

.animated-marker-icon-nonactive {
    background-color: rgb(187 187 187 / 75%) !important;
    box-shadow: 0px 0px 4px rgb(187 187 187 / 75%) !important;
}

.animated-marker-icon-nonactive::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(255,0,0,.27); */
    background: rgb(198 198 198 / 25%);
    border-radius: 50%;
}

.animated-marker-icon-nonactive img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .75;
}

.pulse-alert,
.pulse-alert-warning {
    width: 25px;
    height: 25px;
}

.pulse-alert:before,
.pulse-alert:after,
.pulse-alert-warning:before,
.pulse-alert-warning:after,
.animated-marker-icon-alert:before,
.animated-marker-icon-alert:after {
    content: '';
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #EA5455;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.pulse-alert-warning:before,
.pulse-alert-warning:after {
    border: 1px solid #FF9F43 !important;
}

.pulse-alert:after,
.pulse-alert-warning:after,
.animated-marker-icon-alert:after {
    animation-delay: .5s
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.blink {
    animation: blink .7s infinite linear;
}

.blink-30 {
    animation: blink30 .7s infinite linear;
}

.blink-50 {
    animation: blink50 .7s infinite linear;
}

.blink-70 {
    animation: blink70 .7s infinite linear;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    /* more concise! */
    50% {
        opacity: 1;
    }
}

@keyframes blink30 {
    0%, 100% {
        opacity: .3;
    }
    /* more concise! */
    50% {
        opacity: 1;
    }
}

@keyframes blink50 {
    0%, 100% {
        opacity: .5;
    }
    /* more concise! */
    50% {
        opacity: 1;
    }
}

@keyframes blink70 {
    0%, 100% {
        opacity: .7;
    }
    /* more concise! */
    50% {
        opacity: 1;
    }
}

.heartbeat {
    -webkit-animation: beat 1s infinite alternate;
    -moz-animation: beat 1s infinite alternate;
    -ms-animation: beat 1s infinite alternate;
    -o-animation: beat 1s infinite alternate;
    animation: beat 1s infinite alternate;

    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}


@keyframes "beat" {
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }

}

@-moz-keyframes beat {
    to {
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }

}

@-webkit-keyframes "beat" {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

}

@-ms-keyframes "beat" {
    to {
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@-o-keyframes "beat" {
    to {
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 18px !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    padding: 0 5px 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding: 2px 8px !important;
}

.jstree-anchor {
    width: 100%;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.app-content.login-bg {
    background-image: url(../images/bg/auth-one-bg.jpg);
    background-position: center;
    background-size: cover;
}

.auth-wrapper.auth-basic .auth-inner:before {
    background-image: none !important;
}

#alert-container:hover,
#alert-checksite-container {
    cursor: pointer;
}

.header-navbar {
    z-index: 1001 !important;
}

.col-lg-print {
    flex: 1 0 0 !important;
}

/*.blockUI.blockOverlay{*/
/*    opacity: 0 !important;*/
/*}*/

/*.blockUI.blockMsg.blockElement{*/
/*    display: none !important;*/
/*}*/

/*.pace.pace-inactive{*/
/*    display: none !important;*/
/*}*/
/*.pace .pace-progress{*/
/*    height: 0 !important;*/
/*}*/
pre.list-view {
    background-color: transparent !important;
    font-size: 100%;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

.dark-layout .dataTable pre {
    background-color: transparent !important;
    font-size: 100%;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.dark-layout body, body.dark-layout, html.dark-layout .redactor_editor {
    color: inherit !important;
}

.dark-layout .modal .card {
    box-shadow: 0 4px 24px 0 rgb(12 14 16 / 24%);
}

.modal-content {
    background-color: #F8F8F8;
}

.wysiwyg-container p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wysiwyg-container table td p {
    margin-top: 0;
    margin-bottom: 0;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    /*box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*/
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    padding: 1cm;
}

.demo-inline-spacing span.error {
    position: absolute;
    top: 23px;
}

div.dataTables_wrapper div.dataTables_filter input {
    min-width: 300px !important;
}
