﻿/*
Copyright (C) 2016 by Marijn Haverbeke <marijnh@gmail.com> and others

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/


/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: Consolas,Menlo,monospace ;
  font-size:15px;
  height: 300px;
  color: black;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: mediumblue/*#708*/;}
.cm-s-default .cm-atom {color: mediumblue/*#219*/;}
.cm-s-default .cm-number {color: mediumblue/*#164*/;}
.cm-s-default .cm-m-javascript.cm-number {color: red;}
.cm-s-default .cm-m-sql.cm-number {color: red;}
.cm-s-default .cm-def {color: black/*#00f*/;}
.cm-s-default .cm-variable {color:black;}
.cm-s-default .cm-m-css.cm-variable {color:mediumblue;}
.cm-s-default .cm-punctuation {}
.cm-s-default .cm-property {color:red;}
.cm-s-default .cm-m-javascript.cm-property {color: black;}
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color:black/*#05a*/;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: green/*#a50*/;}
.cm-s-default .cm-string {color: mediumblue/*#a11*/;}
.cm-s-default .cm-m-javascript.cm-string {color: brown;}
.cm-s-default .cm-m-sql.cm-string {color: brown;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: brown/*#555*/;}
.cm-s-default .cm-builtin {color: brown/*#30a*/;}
.cm-s-default .cm-tag {color: brown/*#170*/;}
.cm-s-default .cm-bracket {color: mediumblue/*#997*/;}
.cm-s-default .cm-attribute {color: red/*#00c*/;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

/*NEW THEME*/
body.newtheme .CodeMirror {
  height: initial;
}
body.newtheme .cm-s-default .cm-keyword {color: #07a;}
body.newtheme .cm-s-default .cm-atom {color: #07a;}
body.newtheme .cm-s-default .cm-number {color: #07a;}
body.newtheme .cm-s-default .cm-m-javascript.cm-number {color: #DD4A68;}
body.newtheme .cm-s-default .cm-m-sql.cm-number {color: #DD4A68;}
body.newtheme .cm-s-default .cm-def {color: #000;}
body.newtheme .cm-s-default .cm-variable {color:#000;}
body.newtheme .cm-s-default .cm-m-javascript.cm-variable {color: #DD4A68;}
body.newtheme .cm-s-default .cm-m-css.cm-variable {color:#07a;}
body.newtheme .cm-s-default .cm-punctuation {color: #999}
body.newtheme .cm-s-default .cm-property {color:#DD4A68;}
body.newtheme .cm-s-default .cm-m-javascript.cm-property {color: #DD4A68;}
body.newtheme .cm-s-default .cm-operator {color:#9a6e3a;}
body.newtheme .cm-s-default .cm-variable-2 {color:black/*#05a*/;}
body.newtheme .cm-s-default .cm-variable-3 {color: #085;}
body.newtheme .cm-s-default .cm-comment {color: slategray;}
body.newtheme .cm-s-default .cm-string {color: #9a6e3a;}
body.newtheme .cm-s-default .cm-m-javascript.cm-string {color: #690;}
body.newtheme .cm-s-default .cm-m-sql.cm-string {color: #9a6e3a;}
body.newtheme .cm-s-default .cm-string-2 {color: #f50;}
body.newtheme .cm-s-default .cm-meta {color: #555;}
body.newtheme .cm-s-default .cm-qualifier {color: #9a6e3a;}
body.newtheme .cm-s-default .cm-builtin {color: #9a6e3a;}
body.newtheme .cm-s-default .cm-tag {color: #905;}
body.newtheme .cm-s-default .cm-bracket {color: #07a;}
body.newtheme .cm-s-default .cm-attribute {color: #DD4A68;}
body.newtheme .cm-s-default .cm-hr {color: #999;}
body.newtheme .cm-s-default .cm-link {color: #00c;}
body.newtheme .cm-s-default .cm-attribute+.cm-string {color: #07a;}

/*DARK THEME*/
html.dark-layout .cm-s-default .cm-keyword {color: #88c999/*green*/;}
html.dark-layout .cm-s-default .cm-m-javascript.cm-keyword {color: #c5a5c5/*purple*/;}
html.dark-layout .cm-s-default .cm-atom {color: #88c999/*green*/;}
html.dark-layout .cm-s-default .cm-number {color: #88c999/*green*/;}
html.dark-layout .cm-s-default .cm-m-javascript.cm-number {color: #80b6ff/*blue*/;}
html.dark-layout .cm-s-default .cm-m-sql.cm-number {color: #88c999/*green*/;}
html.dark-layout .cm-s-default .cm-def {color: white;}
html.dark-layout .cm-s-default .cm-variable {color:#88c999/*green*/;}
html.dark-layout .cm-s-default .cm-m-javascript.cm-variable {color:white;}
html.dark-layout .cm-s-default .cm-m-python.cm-variable {color:white;}
html.dark-layout .cm-s-default .cm-m-css.cm-variable {color:#88c999/*green*/;}
html.dark-layout .cm-s-default .cm-punctuation {}
html.dark-layout .cm-s-default .cm-property {color:#c5a5c5/*purple*/;}
html.dark-layout .cm-s-default .cm-m-javascript.cm-property {color:white/*#80b6ff*//*blue*/;}
html.dark-layout .cm-s-default .cm-operator {}
html.dark-layout .cm-s-default .cm-variable-2 {color:white;}
html.dark-layout .cm-s-default .cm-variable-3 {color: #085;}/**/
html.dark-layout .cm-s-default .cm-comment {color: #999;}
html.dark-layout .cm-s-default .cm-string {color: #88c999/*green*/;}
html.dark-layout .cm-s-default .cm-m-javascript.cm-string {color: #88c999/*green*/;}
html.dark-layout .cm-s-default .cm-m-sql.cm-string {color: #ff9999/*red*/;}
html.dark-layout .cm-s-default .cm-string-2 {color: #faca6b;}
html.dark-layout .cm-s-default .cm-meta {color: #999;}
html.dark-layout .cm-s-default .cm-qualifier {color: #ff9999/*red*/;}
html.dark-layout .cm-s-default .cm-builtin {color: #ff9999/*red*/;}
html.dark-layout .cm-s-default .cm-tag {color: #ff9999/*red*/;}
html.dark-layout .cm-s-default .cm-bracket {color: #88ccbb/*green2*/;}
html.dark-layout .cm-s-default .cm-attribute {color: #c5a5c5/*purple*/;}
html.dark-layout .cm-s-default .cm-hr {color: #999;}
html.dark-layout .cm-s-default .cm-link {color: #00c;}
html.dark-layout .CodeMirror-cursor {
  border-left: 1px solid white;
}


.cm-m-clike.cm-string {color: brown/*#a11*/;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

html.dark-layout .CodeMirror {
  background-color:rgb(40, 44, 52);
  background-color:rgb(21,32,43);
  color:rgb(255, 255, 255);
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 3;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
html.dark-layout .CodeMirror-selected { background: #777777;}
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
html.dark-layout .CodeMirror-focused .CodeMirror-selected { background: #0063e6;}
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}
@media only screen and (max-device-width: 480px) {
  .CodeMirror {
    font-family: 'Source Code Pro',Menlo,Consolas,monospace;
    font-size:14px;
  }
}
/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }
